<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976426062660-uvl34pspbi95ocouhlaqlbs708g3sonq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976426062660-uvl34pspbi95ocouhlaqlbs708g3sonq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976426062660-jl23ec8pc1891f5dj57q2m10togbsu9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlMiAx3d37yNoTz70O_vi_OwcTjWgCSI8</string>
	<key>GCM_SENDER_ID</key>
	<string>976426062660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Pchat</string>
	<key>PROJECT_ID</key>
	<string>arunsingh-df67c</string>
	<key>STORAGE_BUCKET</key>
	<string>arunsingh-df67c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976426062660:ios:5f23f0ca7809fc0e2a7d11</string>
</dict>
</plist>